#duboverSettingsMenu {
	background-color: #111;
	border: 1px solid #ccc;
	display: none;
	height: 30em;
	width: 25em;
	z-index: 9999;
	
	margin: auto;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

#duboverSettingsMenuApplyButton {
	border-right: 1px solid #999;
	border-top: 1px solid #999;
	width: 12.5em;
	
	position: absolute;
	bottom: 0em; 
	left: 0;
}

#duboverSettingsMenuCancelButton {
	border-top: 1px solid #999;
	width: 12.5em;
	
	position: absolute;
	bottom: 0em; 
	right: 0;
}